src/conf/xml-resources/web-service-references/bookApp/wsdl/localhost_8080/wsd_assignment3-3/bookApp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.wsd.uts/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.wsd.uts/">

<xs:element name="addBook" type="tns:addBook"/>

<xs:element name="addBookResponse" type="tns:addBookResponse"/>

<xs:element name="addReservation" type="tns:addReservation"/>

<xs:element name="addReservationResponse" type="tns:addReservationResponse"/>

<xs:element name="books" type="tns:books"/>

<xs:element name="deleteBook" type="tns:deleteBook"/>

<xs:element name="deleteBookResponse" type="tns:deleteBookResponse"/>

<xs:element name="fetchBooks" type="tns:fetchBooks"/>

<xs:element name="fetchBooksResponse" type="tns:fetchBooksResponse"/>

<xs:element name="getBookByBookId" type="tns:getBookByBookId"/>

<xs:element name="getBookByBookIdResponse" type="tns:getBookByBookIdResponse"/>

<xs:element name="getBooksByUser" type="tns:getBooksByUser"/>

<xs:element name="getBooksByUserResponse" type="tns:getBooksByUserResponse"/>

<xs:element name="getDiaryApp" type="tns:getDiaryApp"/>

<xs:element name="getDiaryAppResponse" type="tns:getDiaryAppResponse"/>

<xs:element name="getReservationApp" type="tns:getReservationApp"/>

<xs:element name="getReservationAppResponse" type="tns:getReservationAppResponse"/>

<xs:element name="getReservationsByUser" type="tns:getReservationsByUser"/>

<xs:element name="getReservationsByUserResponse" type="tns:getReservationsByUserResponse"/>

<xs:element name="user" type="tns:user"/>

<xs:element name="userLogin" type="tns:userLogin"/>

<xs:element name="userLoginResponse" type="tns:userLoginResponse"/>

<xs:element name="users" type="tns:users"/>

<xs:complexType name="getReservationApp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getReservationAppResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationApplication" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationApplication">
<xs:sequence>
<xs:element name="filePath" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReservationsByUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReservationsByUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="bookId" type="xs:int"/>
<xs:element name="booktitle" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBook">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:int"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBookResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="bookId" type="xs:int"/>
<xs:element name="booktitle" type="xs:string" minOccurs="0"/>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="condition" type="xs:string" minOccurs="0"/>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
<xs:element name="publishYear" type="xs:int"/>
<xs:element name="publisher" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="abstract" type="xs:string" minOccurs="0"/>
<xs:element name="availability" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDiaryApp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDiaryAppResponse">
<xs:sequence>
<xs:element name="return" type="tns:diaryApplication" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="diaryApplication">
<xs:sequence>
<xs:element name="filePath" type="xs:string" minOccurs="0"/>
<xs:element name="users" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="dob" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookByBookId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookByBookIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBooksByUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBooksByUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchBooks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchBooksResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="books">
<xs:sequence>
<xs:element name="book" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBook">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBookResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>