src/conf/xml-resources/web-service-references/bookApp/wsdl/localhost_8080/wsd_assignment3-3/bookApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="bookApp">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/wsd_assignment3-3/bookApp?xsd=1"/>
</xsd:schema>
</types>
<message name="getDiaryApp">
<part name="parameters" element="tns:getDiaryApp"/>
</message>
<message name="getDiaryAppResponse">
<part name="parameters" element="tns:getDiaryAppResponse"/>
</message>
<message name="deleteBook">
<part name="parameters" element="tns:deleteBook"/>
</message>
<message name="deleteBookResponse">
<part name="parameters" element="tns:deleteBookResponse"/>
</message>
<message name="fetchBooks">
<part name="parameters" element="tns:fetchBooks"/>
</message>
<message name="fetchBooksResponse">
<part name="parameters" element="tns:fetchBooksResponse"/>
</message>
<message name="getBooksByUser">
<part name="parameters" element="tns:getBooksByUser"/>
</message>
<message name="getBooksByUserResponse">
<part name="parameters" element="tns:getBooksByUserResponse"/>
</message>
<message name="userLogin">
<part name="parameters" element="tns:userLogin"/>
</message>
<message name="userLoginResponse">
<part name="parameters" element="tns:userLoginResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<portType name="BookSOAP">
<operation name="getDiaryApp">
<input wsam:Action="http://soap.wsd.uts/BookSOAP/getDiaryAppRequest" message="tns:getDiaryApp"/>
<output wsam:Action="http://soap.wsd.uts/BookSOAP/getDiaryAppResponse" message="tns:getDiaryAppResponse"/>
</operation>
<operation name="deleteBook">
<input wsam:Action="http://soap.wsd.uts/BookSOAP/deleteBookRequest" message="tns:deleteBook"/>
<output wsam:Action="http://soap.wsd.uts/BookSOAP/deleteBookResponse" message="tns:deleteBookResponse"/>
</operation>
<operation name="fetchBooks">
<input wsam:Action="http://soap.wsd.uts/BookSOAP/fetchBooksRequest" message="tns:fetchBooks"/>
<output wsam:Action="http://soap.wsd.uts/BookSOAP/fetchBooksResponse" message="tns:fetchBooksResponse"/>
</operation>
<operation name="getBooksByUser">
<input wsam:Action="http://soap.wsd.uts/BookSOAP/getBooksByUserRequest" message="tns:getBooksByUser"/>
<output wsam:Action="http://soap.wsd.uts/BookSOAP/getBooksByUserResponse" message="tns:getBooksByUserResponse"/>
</operation>
<operation name="userLogin">
<input wsam:Action="http://soap.wsd.uts/BookSOAP/userLoginRequest" message="tns:userLogin"/>
<output wsam:Action="http://soap.wsd.uts/BookSOAP/userLoginResponse" message="tns:userLoginResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://soap.wsd.uts/BookSOAP/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://soap.wsd.uts/BookSOAP/addBookResponse" message="tns:addBookResponse"/>
</operation>
</portType>
<binding name="BookSOAPPortBinding" type="tns:BookSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDiaryApp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBooksByUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="bookApp">
<port name="BookSOAPPort" binding="tns:BookSOAPPortBinding">
<soap:address location="http://localhost:8080/wsd_assignment3-3/bookApp"/>
</port>
</service>
</definitions>