web/WEB-INF/wsdl/localhost_8080/wsd_assignment3-3/ClientSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="ClientSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/wsd_assignment3-3/ClientSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="removeBook">
<part name="parameters" element="tns:removeBook"/>
</message>
<message name="removeBookResponse">
<part name="parameters" element="tns:removeBookResponse"/>
</message>
<message name="fetchTextBooks">
<part name="parameters" element="tns:fetchTextBooks"/>
</message>
<message name="fetchTextBooksResponse">
<part name="parameters" element="tns:fetchTextBooksResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="listTextBook">
<part name="parameters" element="tns:listTextBook"/>
</message>
<message name="listTextBookResponse">
<part name="parameters" element="tns:listTextBookResponse"/>
</message>
<message name="viewTextBook">
<part name="parameters" element="tns:viewTextBook"/>
</message>
<message name="viewTextBookResponse">
<part name="parameters" element="tns:viewTextBookResponse"/>
</message>
<portType name="ClientSOAP">
<operation name="removeBook">
<input wsam:Action="http://soap.wsd.uts/ClientSOAP/removeBookRequest" message="tns:removeBook"/>
<output wsam:Action="http://soap.wsd.uts/ClientSOAP/removeBookResponse" message="tns:removeBookResponse"/>
</operation>
<operation name="fetchTextBooks">
<input wsam:Action="http://soap.wsd.uts/ClientSOAP/fetchTextBooksRequest" message="tns:fetchTextBooks"/>
<output wsam:Action="http://soap.wsd.uts/ClientSOAP/fetchTextBooksResponse" message="tns:fetchTextBooksResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/ClientSOAP/fetchTextBooks/Fault/Exception"/>
</operation>
<operation name="listTextBook">
<input wsam:Action="http://soap.wsd.uts/ClientSOAP/listTextBookRequest" message="tns:listTextBook"/>
<output wsam:Action="http://soap.wsd.uts/ClientSOAP/listTextBookResponse" message="tns:listTextBookResponse"/>
</operation>
<operation name="viewTextBook">
<input wsam:Action="http://soap.wsd.uts/ClientSOAP/viewTextBookRequest" message="tns:viewTextBook"/>
<output wsam:Action="http://soap.wsd.uts/ClientSOAP/viewTextBookResponse" message="tns:viewTextBookResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.wsd.uts/ClientSOAP/viewTextBook/Fault/Exception"/>
</operation>
</portType>
<binding name="ClientSOAPPortBinding" type="tns:ClientSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchTextBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listTextBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewTextBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ClientSOAP">
<port name="ClientSOAPPort" binding="tns:ClientSOAPPortBinding">
<soap:address location="http://localhost:8080/wsd_assignment3-3/ClientSOAP"/>
</port>
</service>
</definitions>